.step1 {
    padding-top: 24px;
    padding-left: 5vw;
    padding-right: 5vw;

    &__progress-con{
        padding-bottom: 24px;
    }

    &__heading{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__company-heading{
        font-weight: 700;
        padding-bottom: 16px;
    }
    
    &__sub {
        padding-bottom: 24px;
    }
    &__company-input{
        background-color: #f7f7f7;
        border: none;
        height: 40px;
        width: 300px;
        border-radius: 5px;
        padding-left: 8px;
        &:placeholder{
            color: black;
            padding-left: 8px;
        }

    }
    &__status-heading{
        padding-top: 24px;
        font-weight: 700;
        padding-bottom: 16px;
    }
    &__form {
        width: 300px;
    }
    &__label1-con{
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        background-color: #f7f7f7;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 16px;
    }
    &__label2-con{
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 40px;
        padding-left: 16px;
        justify-content: space-between;
        background-color: #f7f7f7;
        padding-right: 16px;
    }

    &__next{
        margin-top: 48px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__next-btn{
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #4666f1;
        color: white;
        width: 188px;
        height: 45px;
        border-radius: 5px;
        &:visited{
            color:white;
        }
    }
}
