.companies{
    &__top{
        display: flex;
        flex-direction: row;
    }
    &__hero{
        background-color: #d9d9d9;
        width: 250px;
        height: 250px;
    }
    
    &__mid{}
    &__bottom{
        
    }
}
