.companies{
    &__top{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    &__mid {
        margin-top: 24px;
        font-size: 24px;
        font-weight: 700;
    }

    &__hero-con{
        display: flex;
        flex-direction: row;
    }
    &__hero{
        // background-color: #d9d9d9;
        width: 250px;
        height: 250px;
    }
    &__hero-pic {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    &__sub-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__hero-sub {
        font-size: 32px;
        font-weight: 700;
        padding-left: 24px;
    }
    &__hero-sub2 {
        // font-weight: 700;
        padding-left: 24px;
    }


    &__mid{
        padding: 0 4vw;
    }
    &__bottom{
        padding: 0 4vw;

    }
}

.card{

    display: flex;
    flex-direction: row;
    padding: 48px;
    margin: 24px 0;
    background-color: #f7f7f7;
    height: 458px;


    &__left{
        // width: 175px;
        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        flex-direction: column;
    }
    &__l-comp-pic{
        // background-color: white;
        // width: 75px;
        // height: 75px;
    }
    &__src {
        // width: 10x;
        // height: px;
        object-fit: cover;
    }
    &__right{
        padding-top: 48px;
        position: relative;
        width: 100%;
    }

    &__company-name{
        font-size: 24px;
        font-weight: 700;
    }
    &__company-rating {
        padding-right: 10px;
        font-size: 18px;
        font-weight: 700;
        color: #ff7536;

    }
    &__r-float{
        padding-top: 24px;
        display: flex;
        position: absolute;
        justify-content: space-between;
        right: 0;
        top: -10px;
        gap: 16px;
        padding-right: 24px;
        width: 300px;

    }
    &__f-review-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__f-salaries-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__f-jobs-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__f-review-count, &__f-salaries-count, &__f-jobs-count{
        color: #ff7536;
    }
    &__r-top{
        display: flex;
        flex-direction: column;
    }
    &__r-mid{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 48px;
        padding-bottom: 48px;

    }
    &__location-con{
        display: flex;
        flex-direction: column;
    }
    &__industry-con{
        display: flex;
        flex-direction: column;
    }
    // &__description-con{
    //     
    // }

    &__dni-con{
        display: flex;
        flex-direction: column;
    }
    &__location-title{
        font-weight: 600;
    }
    &__industry-title{
        font-weight: 600;
    }
    &__dni-title{
        padding-right: 200px;
        font-weight: 600;
    }
    &__description-title{
        font-weight: 600;
        padding-bottom: 16px;
    }
    &__company-stars-con{
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    &__company-star-icon {
        // height: 1.3313rem;
        // width: 1.3313rem;
        width: 18px;
        height: 18px;

        // padding-left: 2px;
        filter: invert(54%) sepia(30%) saturate(1474%) hue-rotate(332deg) brightness(102%)
        contrast(101%);
    }

}
